<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-nav mr-auto">
      <div class="navbar-brand">
        <!-- <img class="image" src="../../../assets/logo/main-logo.png" alt="logo"> -->
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <div class="card top-card p-2">
        <div class="d-flex">
          <div class="py-0 pr-5">
            <span class="font-weight-bold" style="font-size: 14px;">Name</span>
            <div class="mt-0 card-sub-text">Designation</div>
          </div>
          <div class="m-auto logout-btn">
            <span class="card-logout-text font-weight-bold mr-1"> Logout</span>
            <!-- <img src="../assets/icons/Xnix-Line-Arrow Right.svg" alt=""> -->
          </div>
        </div>
      </div>
    </form>
  </nav>
  
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <mat-nav-list>
        <a mat-list-item   >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a>      
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
          <a mat-list-item  >
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </span>
            <p class="d-flex ml-4 mt-2">Home</p>
          </a> 
        </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>