<head>
    <title>Log-In Page</title>
</head>

<body class="body">
    <header class="logo">
        <!-- <h1 id="CS"><img src=""></h1> -->
    </header>
    <div class="row">
        <div class="col container item-1">
            <!-- <p id="hcontent">meity</p> -->
        </div>

        <div class="col container item-2">
            <form class="mainCS" name="myform">
                <div style="text-align: center;">
                    <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>  -->
                </div>

                <mat-form-field id="mobileNumber" appearance="fill" [hideRequiredMarker]="hideRequiredMarker">
                    <mat-label>mobileNumber</mat-label>
                    <input type="text" matInput [formControl]="mobileNumber" required placeholder="mobileNumber"
                        autofocus maxlength="10">
                    <mat-error *ngIf="mobileNumber.hasError('required')">
                        mobileNumber is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field id="OTP" appearance="fill">
                    <mat-label>Enter OTP</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput [formControl]="OTP">

                    <mat-error *ngIf="OTP.hasError('required')">
                        OTP is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br><br>

                <button class="btn btn-outline-dark" type="submit" id="login" (click)="login()"><b>Log in</b></button>

                <hr>
            </form>
        </div>
    </div>
</body>