.bg_image{
  background-image: url('../../assets/background1.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logintable{
    display: flex;
    justify-content: center;
    padding: 200px;
}