<div style="background-color: rgb(200, 208, 208);height: 100%;" class="tabClass"  >


  <mat-tab-group   mat-align-tabs="start"  [(selectedIndex)]="selectedIndex" (selectedTabChange)="myTabSelectedIndexChange($event)">
    <mat-tab label="Sign In">
      
      <section  class="h-0 gradient-form" style="background-color: rgb(26, 189, 189); "style="overflow:hidden">
        <div  class="container py-0 h-0">
          <div class="row d-flex justify-content-center align-items-center h-0">
            <div class="col-xl-0">
              <div class="card rounded-3 text-black">
                <div    class="row g-0">
                  <div class="col-lg-12">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center" >
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo"> -->
                        
                          <h4 class="mt-1 mb-5 pb-1">Welcome to jammu smart city Team</h4>
                      </div>
      
                      <form style="width:100%" #userForm_signin="ngForm" (ngSubmit)="userForm_signin.valid&&loginapicall(userForm_signin.value)">
                        <!-- <p>Please login to your account</p> -->
      
                        <div class="form-outline mb-4">
                          <input  name="uUserEmail" type="email" placeholder="Email address" required="" #Email="ngModel" [(ngModel)]="login_data.email"  class="form-control" />
                          <label style="margin:0;padding:0;" class="text-danger col-md-9 " *ngIf="userForm_signup.submitted&&!Email.value">Email required</label>
                        </div>
      
                        <div class="form-outline mb-4">
                         <input  name="uPassword" type="password" placeholder="Password" required="" #Password="ngModel" [(ngModel)]="login_data.password"  class="form-control"  />
                         <label style="margin:0;padding:0;" class="text-danger col-md-9 " *ngIf="userForm_signup.submitted&&!Password.value">Password required</label>
                        </div>
                     
                         <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block  mb-3" style="border-color:wheat; border-radius:10px;background-color:rgba(4, 82, 96, 0.511)" type="submit">Login</button>
                        </div>
                        
                        <!-- <div  class="d-flex align-items-center justify-content-center pb-4">
                          <p  class="mb-0 me-2">Don't have an account?</p>
                          <button  type="button"  class="btn btn-outline-danger">Create new</button>
                        </div>  -->
      
                      </form>
      
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 d-flex align-items-center" >
                    <div >
                      <img src="assets/img.png">
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
  
  
    <mat-tab label="Sign Up">
      
      <section  class="h-0 gradient-form" style="background-color: rgb(26, 189, 189); "style="overflow:hidden">
        <div  class="container py-0 h-0">
          <div class="row d-flex justify-content-center align-items-center h-0">
            <div   class="col-xl-0">
              <div class="card rounded-3 text-black">
                <div    class="row g-0">
                  <div class="col-lg-12">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center" >
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo"> -->
                        
                          <h4 class=" mb-4 pb-1">Welcome to jammu smart city Team</h4>
                      </div>
      
                      <form  #userForm_signup="ngForm" (ngSubmit)="userForm_signup.valid&&crreateuserapi(userForm_signup.value)">
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input  name="uUserEmail" type="email" placeholder="Email address" required="" #Email="ngModel" [(ngModel)]="signin_data.email"  class="form-control" />
                          <label style="margin:0;padding:0;" class="text-danger col-md-9 " *ngIf="userForm_signup.submitted&&!Email.value">Email required</label>
                        </div>
      
                        <div class="form-outline mb-4">
                         <input  name="uPassword" type="password" placeholder="Password" required="" #Password="ngModel" [(ngModel)]="signin_data.password"  class="form-control"  />
                         <label style="margin:0;padding:0;" class="text-danger col-md-9 " *ngIf="userForm_signup.submitted&&!Password.value">Password required</label>
                        </div>
                        <div class="form-outline mb-4">
                          <input  name="uFname" type="fname" placeholder="First Name" required="" #Email="ngModel" [(ngModel)]="signin_data.fname"  class="form-control" />
                          <label style="margin:0;padding:0;" class="text-danger col-md-9 " *ngIf="userForm_signup.submitted&&!Email.value">Firstname required</label>
                        </div>
                        <div class ="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block  mb-3" style="border-color:wheat; border-radius:10px;background-color:rgba(4, 82, 96, 0.511)" type="submit">Register</button>
                         
                        </div>
                        
                        <!-- <div  class="d-flex align-items-center justify-content-center ">
                          <p  class="mb-0 me-2">Already have an account?</p>
                          <button  type="button"  class="btn btn-outline-danger">Login</button>
                        </div> -->
      
                      </form>
      
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 d-flex align-items-left" >
                    <div >
                      <img src="assets/img.png" style="height:100%;width:100%">
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
  
  
  
  