<div class="row d-flex justify-content-center ">
    <div class="card ml-2 mt-4 p-4" style="width: 18rem; ">
        <div class="card-body">
          <h5 class="card-title">personal details</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">Update Details</a>
        </div>
    </div>
    <div class="card ml-2 mt-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">profile photo</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">Update Details</a>
        </div>
    </div>
    <div class="card ml-2 mt-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">education</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary" [routerLink]="['/education']" >Update Details</a>
        </div>
    </div>
    <div class="card ml-2 mt-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">employement</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">View Details</a>
        </div>
    </div>
                
</div>

<div class="row d-flex justify-content-center ">
    <div class="card ml-2 mt-4 p-4" style="width: 18rem; ">
        <div class="card-body">
          <h5 class="card-title">Family</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">Update Details</a>
        </div>
    </div>
    <div class="card ml-2 mt-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Address</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">Update Details</a>
        </div>
    </div>
    <div class="card ml-2 mt-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bank Details</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">View Details</a>
        </div>
    </div>
    <div class="card ml-2 mt-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Documents</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary">Update Details</a>
        </div>
    </div>
                
</div>

