
<div class="container-fluid">
  
<mat-toolbar color="primary" class="example-toolbar">
  
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name ml-5">JAMMU SMART CITY - ICCC</h1>

  <div style="display: flex; flex-direction:row ; gap: 20px;">
    <div class="dropdown-language">
      <button mat-button [matMenuTriggerFor]="menu" class="language">
        <mat-icon>language</mat-icon>English
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Hindi</button>
        <button mat-menu-item>Kannada</button>
      </mat-menu>
    </div>

    <mat-icon matBadge="5" class="ml-2">notifications</mat-icon>

    <button mat-button [matMenuTriggerFor]="menuAdmin" class="signout ">ADMIN-JAMMU</button>
    <mat-menu #menuAdmin="matMenu">
      <button mat-menu-item>Sign Out</button>
    </mat-menu>
  </div>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="onClickOfHome()" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing" >Home</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="onClickOfitms()" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">ITMS</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Citizen Grievance</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Smart Parking</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">ATCS</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Fire</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">incident</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent ">
        <span class="full-width" *ngIf="isExpanded || isShowing">Sensor Device</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <!-- <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
			</div> -->
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    home works
  </div>

</mat-sidenav-container>


</div>




<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->