.menu{
   margin-top: 3%;
   margin-left: 7%;
   margin-right: 2%;

}

.card-container{
   margin-left: 78px;
   margin-top: 32px;
   display: flex;
}
mat-card {
   width: calc(100% - 70px);
   height: calc(100% - 70px);
   margin: 8px;
   border: 1px solid #d5d5d5;
   /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
   box-shadow: rgb(0 0 0 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
}
mat-card-title{
   text-align: center;
}