


.box{
    width: 100%;
    border: 1px solid rgb(145, 138,138);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;

  
}
#settings {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, max-content 1fr);
    justify-content: end;
    align-items: center;
}

.container {
    padding: 0rem;
    background: #EEE;
    border: 1x solid #CCC;
    border-radius: 0.5rem;
}

 
  .box {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }
  
  #user-form {
    padding: 1rem 0;
}
 


#buttons {
  display: flex;
  padding: 1.5rem 0;
  justify-content: flex-end;

  > button {
      font-size: 1.5rem;
      padding: 0.75rem;
      margin-right: 1rem; 

      &:last-of-type {
          margin-right: 0;
      }
  }
}

#setting-results {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  grid-gap: 1rem;
}

.mat-row {
  cursor:pointer !important
}
 
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #b251c2 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #500d8c ;
}

textarea.mat-input-element {
  padding: 0px 0;
  margin: -6px 0;
}
.tabledetails {
 font-weight:bold;
 font-size:15px;
 align-items: center;
 justify-content: center;
 color: #fff;
 background: -moz-linear-gradient(top, #500d8c 0%, #b251c2 100%)  !important;
 background: -webkit-linear-gradient(top,  #500d8c 0%, #b251c2 100%)  !important;
 background: linear-gradient(to bottom,#500d8c 0%, #b251c2  100%)  !important;
}

.mat-grid-tile-content{
  align-items: left !important;
  justify-content: left;
}
.mat-form-field{
  width:100%;
}

 h3 {
  margin: -14px 0 66px !important;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

@import '../dashboard/dashboard.component.scss'