<div style="padding: 2% 0% 0% 0%;">

</div>

<div class="row">
  <p class="ml-4">
    <mat-toolbar>
      <mat-icon>dashboard</mat-icon>
      <button mat-button color="primary">frs</button>
    </mat-toolbar>
  </p>
  <p class="ml-2">
    <mat-toolbar>
      <mat-icon>add_circle_outline</mat-icon>
      <button mat-button color="primary">Add widget</button>
    </mat-toolbar>
  </p>
  <p class="ml-2">
    <mat-toolbar>
      <mat-icon>save</mat-icon>
      <button mat-button color="primary">Save Dashboard</button>
    </mat-toolbar>
  </p>
</div>
 
<router-outlet></router-outlet>